[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psutil = "*"
subprocess32 = ">=3.5.3"
backports-shutil-which = ">=3.5.2"

[dev-packages]
ipython = "*"
rope = "*"
"autopep8" = "*"
pylint = "*"
pycodestyle = "*"
isort = {extras = ["pipfile", "requirements"],version = "*"}

[requires]
python_version = "3.7"
